// Here goes your CSS
@import "layout/main";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$primary-color: rgb(226, 116, 129);
$secondary-color: #ffffff;
$black-color: #000000;

.popup {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 350px;
  background-color: $secondary-color;
  overflow: auto;
  display: none;

  .close-popup {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 102;
    background-color: $black-color;
    color: $secondary-color;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    right: 0;
    top: 0;
    font-size: 30px;
    cursor: pointer;
  }

  .content-popup {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-form {
      height: 300px;
      width: 220px;

      .error-message {
        margin-bottom: 20px;
        width:100%;
        background: $primary-color;
        padding: 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        transition: all 0.5s ease;
        margin-bottom: -15px;
        text-transform: uppercase;
      }

      h1 {
        margin-bottom:0px;
        text-align: center;
        font-family: "Lobster", cursive;
      }

      #input-form:nth-child(3) {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      #input-form {
        width: 88%;
        height: 40px;
        padding-left:20px;
      }

      input[type="checkbox"] {
        opacity: 0;
      }

      label::before {
        content: "";
        display: inline-block;
        height: 19px;
        width: 19px;
        border: 1px solid;
        margin-left: -20px;
      }

      label::after {
        content: "";
        display: inline-block;
        height: 6px;
        width: 14px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        margin-left: -20px;
      }

      label {
        position: relative;
        margin-top: 5px;
      }

      label::before,
      label::after {
        position: absolute;
      }

      label::after {
        left: 3px;
        top: 6px;
      }

      input[type="checkbox"] + label::after {
        content: none;
      }

      input[type="checkbox"]:checked + label::after {
        content: "";
      }

      .form-terms {
        margin-left: 10px;
        margin-top: 1px;
      }

      label {
        font-size: 14.9px;
        margin-right: 0;
        display: inline-block;
        margin-top:20px;
      }

      .btn-form {
        margin-top:30px;
        width: 100%;
        height: 40px;
        background-color: $black-color;
        color: $secondary-color;
        text-transform: uppercase;
        border: none;
      }

      .btn-form:hover {
        background-color: $primary-color;
        border: none;
      }
    }
  }
}

.popup.open {
  display: block;
}

.hide {
  display: none;
}